[Unit]
Description=Boardcast Universal Clipboard Leaf
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/boardcast leaf
Restart=on-failure
RestartSec=2
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
